// Laptop
@media(max-width: 1000px) {

  // history.html --- --- ---
  .history {

    .content-t {
      font-size: 2.6rem;
    }

    &-content {
      grid-template-columns: repeat(2, 1fr);
    }
  }


  // session.html --- --- ---
  .session {

    &-content {
      grid-template-columns: repeat(1, 1fr);
      
      &-container {

        &-header {

        font-size: 1.4rem;
        h3 {
            font-size: 1.6rem;
            font-weight: bold;

            &:hover {
              filter: none;
            }
          }
        }
        
      }
    }
  }

  
}

// Tablets
@media(max-width: 830px) {

  // index.html --- --- ---

  // Hero
  .hero {

    &-container {
      grid-template-columns: repeat(1, 1fr);

      &-content {
        grid-column: span 1;
        margin-top: auto;
      }

      .svg-div {
        display: none;
      }
    }
    
  }
  
  // session.html --- --- ---
  .session {

    &-header {

      &-container {
        grid-template-columns: repeat(1, 1fr);
  
        &-item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 3rem 2rem;


          #updateSharedWith {
            padding: 5px;

          }
  
          &-title {
            margin-bottom: 0;
            font-size: 1.6rem;
            text-align: start;
            margin-right: 1rem;
            max-width: 70%;
          }
  
          &-value {
            font-size: 1.6rem;
            text-align: end;
            min-width: fit-content;
          }
        }
      }
    }

    &-content {

      &-container {

        &-list {

          .bill {
            grid-template-columns: repeat(1, 1fr);

            p {

              &.directlyOwedTag {
                grid-column: span 1;
              }
            }

          }
        }
      }
    }
  }

 
}

// In Between
@media(max-width: 680px) {
  // session.html --- --- ---
  .session {

    &-header {

      &-message {
  
        .content-p {
          font-size: 1.4rem;
        }
      }
    }
  }
  
  // history.html --- --- ---
  .history {

    &-header {

      &-container {
        grid-template-columns: repeat(1, 1fr);
  
        &-item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 3rem 2rem;
  
          &-title {
            margin-bottom: 0;
            font-size: 1.6rem;
            text-align: start;
          }
  
          &-value {
            font-size: 1.6rem;
            text-align: end;
          }
        }
      }

    }

    .content-t {
      font-size: 2.6rem;
    }

    &-content {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .terms {

    &-container {
      .content-t {
        font-size: 2.4rem;
        font-weight: 500;
      }
  
      &-group {
        
        &-t {
          font-size: 1.8rem;
        }
      }
    }
  }

   // JavaScript Utilities
   .termsPopup {

    &-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .content-p {
        margin-bottom: 1rem;
        margin-right: 0;
        font-size: 1.4rem;
      }

      .btn {
        width: 100%;
      }
    }
  }
}

// Phones
@media(max-width: 450px) {

  // Main Navbar --- --- ---
  .main-nav {

    .logo {
      font-size: 2rem;
      font-weight: bold;
    }

    .links-container {

      .btn {
        font-size: 1.3rem;
        line-height: 30px;
        padding: 0 1.8rem;
      }
    }

  }
  
  
  // index.html --- --- ---

  // Hero
  .hero {

    &-container {
      grid-template-columns: repeat(1, 1fr);

      &-content {
        grid-column: span 1;
        margin-top: auto;

        .content-t {
          font-size: 2.4rem;
          font-weight: bold;
        }

        .content-p {
          max-width: 100%;
        }
      }

      .svg-div {
        display: none;
      }
    }
    
  }


  // session.html
  .session {

    &-content{
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-container {
        width: 100%;

        &-header {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          row-gap: 1rem;

          h3 {
            margin-bottom: 2rem;
          }

          .clearListBtn {
            margin-left: 0;
            order: 3
          }

          .btn:last-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  
  // history.html --- --- ---
  .history {

    &-header {

      &-controls {

        .btn-div {
          width: 100%;

          .btn {
            width: 100%;
          }
        }
      }
    }

    .content-t {
      font-size: 2.6rem;
    }

    &-content {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}