// General
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $main-font;
  font-size: 62.5%;
}

body {
  font-family: $main-font;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  background: $main;
  color: $light;

  position: relative;
  z-index: 2;

}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: 400;
}

button, input, textarea {
  background: transparent;
  border: 1px solid $light;
  font-size: 1.6rem;
  font-weight: 400;
  color: $light;
}

ul, li {
  list-style: none;
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: $light;
}

// Buttons

%btn-shared {
  display: block;
  min-width: fit-content;
  padding: 0 2.4rem;
  line-height: 40px;
  font-weight: bold !important;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: filter 200ms;
}

.btn {
  @extend %btn-shared;
  
  &.btn {

    &:hover {
      filter: brightness(0.7);
    }
    
    &-main {
      background: $main;
      border-color: $main;
      color: $light;
    }
  
    &-secondary {
      background: $secondary;
      border-color: $secondary;
      color: $light;
    }
  
    &-light {
      background: $light;
      border-color: $light;
      color: $main;
    }
  
    &-light {
      background: $light;
      border-color: $light;
      color: $main;
    }
  
    &-cta {
      background: $cta;
      border-color: $cta;
      color: $main;
    }

    &-border-main {
      background: transparent;
      border-color: $main;
      color: $main;
    }
  
    &-border-secondary {
      background: transparent;
      border-color: $secondary;
      color: $secondary;
    }
  
    &-border-light {
      background: transparent;
      border-color: $light;
      color: $light;
    }
    
    &-border-cta {
      background: transparent;
      border-color: $cta;
      color: $cta;
    }

    &-border-danger {
      background: transparent;
      border-color: $danger;
      color: $danger;
    }
  }
  
}

// Text
.text {

  &-main {
    color: $main;
  }

  &-secondary {
    color: $secondary;
  }

  &-light {
    color: $light;
  }

  &-cta {
    color: $cta;
  }

  &-danger {
    color: $danger;
  }
}

// Background
.bg {

  &-main {
    background: $main;
  }

  &-secondary {
    background: $secondary;
  }

  &-light {
    background: $light;
  }

  &-cta {
    background: $cta;
  }
}

// Miscellaneous
.img-div {
  display: flex;
  overflow: hidden;
}

.btn-div {
  display: flex;
  height: fit-content;
}

.nav-push-div {
  display: block;
  height: 6rem;
  width: 100%;
}

// Utility classes
.content {

  &-t {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  &-p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 2rem;
    color: #CECCD5;
  }

  &-90 {
    max-width: 90%;
  }
  
  &-80 {
    max-width: 80%;
  }

  &-60 {
    max-width: 60%;
  }

  &-50 {
    max-width: 50%;
  }
}

.form-group {
  margin-bottom: 2rem;
  position: relative;

  &.checkbox-group {
    display: flex;
    align-items: center;

    p {
      font-size: 1.3rem;
      font-weight: 500;
      color: $light;
      width: fit-content;
      margin: 0;
      padding: 0;
    }

    .checkbox {
      width: 16px;
      height: 16px;
      background: $light;
      margin-right: 1rem;
      border-radius: 3px;
      transition: background 200ms, opacity 200ms;
      cursor: pointer;

      display: grid;
      place-items: center;
      text-align: center;

      &:hover {
        background: rgba(200, 200, 200, 0.5);
      }

      &.checked {
        background: $cta;

        .check-icon {
          transform: rotate(-45deg) translate(1px, 1px) scale(1);
        }
      }

      .check-icon {
        width: 10px;
        height: 2px;
        background: $main;
        // border-top-right-radius: 50px;
        // border-bottom-right-radius: 50px;
        position: relative;
        transform: rotate(-45deg) translate(1px, 1px) scale(0);
        transition: transform 200ms;

        &::after {
          content: '';
          box-sizing: border-box;
          position: absolute;
          display: block;
          left: 0;
          bottom: 0;
          height: 5px;
          width: 2px;
          background: $main;
        }
      }
      
    }
  }

  label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 4px;
    font-weight: 500;
  }

  input {
    width: 100%;
    border: 1px solid rgba(200, 200, 200, 0.35);
    border-radius: 3px;
    line-height: 40px;
    outline: none;
    padding: 0 1rem;
    font-weight: 400;
    font-size: 1.4rem;
    transition: border-color 200ms;

    &#password {
      padding-right: 3.5rem;
    }
    
    &:focus {
      border-color: $cta;
    }
  }

  #revealPassword {
    position: absolute;
    right: 1rem;
    bottom: 1px;
    line-height: 40px;
    cursor: pointer;
    transition: color 200ms;

    &:hover {
      color: $cta;
    }
  }

  .error-span {
    display: none;
  }

  &.error {

    input {
      border-color: $danger;
    }

    .error-span {
      display: block;
      font-size: 1.2rem;
      color: $danger;
      margin-top: 4px;
    }
  }
 
}

.section {

  &-p {
    padding: 5rem 0;
  }
}

// JavaScript Utilities

// Dialog
.dialog {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  margin: 2rem auto 0;
  width: fit-content;
  max-width: 300px;
  background: $cta;
  color: $main;
  padding: 1.4rem;
  border-radius: 5px;

  transform: translateY(-10rem);
  transition: transform 200ms;
  
  p {
    font-weight: bold;
    font-size: 1.4rem;
  }
}

// loadingModal()
.loading-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  z-index: 11;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;

  .spinner {
    width: 48px;
    height: 48px;
    border: 5px solid $light;
    border-bottom-color: $cta;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
}

// _updateSharedWith

