// Colors
$main: #1A1A1A;
$secondary: #2c2c32;
$light: #faf8ff;
$cta: #8685ef;

$black: #0D0D0D;
$danger: #bd2130;
$success: #28a745;
$edit: #0062cc;
// --- ---

// #ceccd5

// Fonts
$main-font:'Roboto', sans-serif;
