// Colors
$main: #1A1A1A;
$secondary: #2c2c32;
$light: #faf8ff;
$cta: #8685ef;

$black: #0D0D0D;
$danger: #bd2130;
$success: #28a745;
$edit: #0062cc;
// --- ---

// Fonts
@font-face {
  font-family: 'AdjustedRoboto';
  src: url('../assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'AdjustedRoboto';
  src: url('../assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'AdjustedRoboto';
  src: url('../assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
}


$main-font: 'AdjustedRoboto', sans-serif;
