@import './partials/variables.scss';
@import './partials/utils.scss';


// // Desktop Navbar
.main-nav {
  height: 6rem;
  max-height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: #232326;

  .container {
    position: relative;
  }

  &-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      color: $light;
      margin-bottom: 2px;
      margin-right: 5px;
      font-weight: bold;
    }
    
    .logo {
      position: relative;
      font-size: 3rem;
      font-weight: 400;
      margin-right: auto;

      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 11;
      }
    }

    .links-container {
      display: flex;
      align-items: center;

      .btn-div {

        &:last-child {
          margin-left: 1rem;
        }
      }
    }

    #user-menu-btn {
      margin-left: 2rem;
      border: 2px solid $light;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      min-height: 40px;
      min-width: 40px;
      display: grid;
      place-items: center;
      cursor: pointer;
      transition: color 200ms, border-color 200ms;
      display: hidden;

      &:hover {
        color: $cta;
        border-color: $cta;
      }


      .user-menu-options {
        position: absolute;
        top: 6rem;
        right: 0;
        background: $black;

        &.hidden {
          display: none;
        }

      
        
        &::after {
          content: '';
          position: absolute;
          top: -6.5px;
          right: 35px;
          width: 0px;
          height: 0px;
          border-style: solid;
          border-width: 0px 5px 7px 5px;
          border-color: transparent transparent $black transparent;
        }

        li {
          display: block;

          a {
            width: 100%;
            height: 100%;
            padding: 1rem 4rem;
            display: block;
            font-size: 1.4rem;
            transition: background 200ms;

            &:hover {
              background: #333;
            }
          }
        }
      }
    }
  }
}

// index.html --- --- ---

// Hero
.hero {
  height: calc(100vh - 6rem);
  max-height: calc(100vh - 6rem);
  height: calc(100svh - 6rem);
  max-height: calc(100svh - 6rem);
  overflow: hidden;

  .container {
    display: flex;
  }
  
  &-container {
    margin: auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .svg-div {
      grid-column: span 1;
      margin: auto 0;
      text-align: end;
    }

    &-content {
      grid-column: span 2;
      margin: auto 0;

      .content-t {
        font-size: 4.2rem;
      }
  
      .btn-container {
        display: flex;
        align-items: center;
  
        .btn-div {
  
          &:first-child {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

// signUp.html --- --- ---

// Sign Up
.sign-up {
  height: 100vh;
  max-height: 100vh;
  height: 100svh;
  max-height: 100svh;

  &-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-form {
      padding: 4rem 2rem;
      background: $secondary;
      border-radius: 5px;
      width: 35rem;
      max-width: 35rem;
      position: relative;

      .content-t {
        font-size: 2.6rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 5px;
      }

      .h-line {
        height: 1px;
        width: calc(100% + 4rem);
        background: rgba(200, 200, 200, 0.15);
        margin: 4rem 0 3rem;
        transform: translateX(-2rem);
      }

      .content-p {
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        // margin-bottom: 4rem;
      }

      .btn-div {
        margin-bottom: 2rem;

        .btn {
          width: 100%;
        }
      }

      div + p {
        display: block;
        margin: 0 auto 3rem;
        font-size: 1.2rem;
        color: rgba(200, 200, 200, 0.85);
        
        a {
          text-decoration: underline;
          transition: color 200ms, opacity 200ms;
          opacity: 0.9;

          &:hover {
            color: $cta;
            opacity: 1;
          }
        }
      }

      .links-container {
        font-size: 1.4rem;
        font-weight: bold;

        p {
          &:hover {
            color: rgba(200, 200, 200, 0.85);
          }
  
          i {
            color: $cta;
          }

          &:first-child {
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 1.4rem;
            font-weight: bold;
            padding: 1rem;
            cursor: pointer;
            transition: color 200ms;
            width: fit-content;
          }

          &:last-child {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 1.4rem;
            font-weight: bold;
            padding: 1rem;
            cursor: pointer;
            transition: color 200ms;
            width: fit-content;
          }
        }
      }

    }
  }
}

// signIn.html --- --- ---

// Sign In
.sign-in {
  height: 100vh;
  max-height: 100vh;
  height: 100svh;
  max-height: 100svh;

  &-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-form {
      padding: 4rem 2rem;
      background: $secondary;
      border-radius: 5px;
      width: 35rem;
      max-width: 35rem;
      position: relative;

      .content-t {
        font-size: 2.6rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0;
      }

      .h-line {
        height: 1px;
        width: calc(100% + 4rem);
        background: rgba(200, 200, 200, 0.15);
        margin: 4rem 0 3rem;
        transform: translateX(-2rem);
      }

      .btn-div {
        margin-bottom: 2rem;

        .btn {
          width: 100%;
        }
      }

      div + p {
        display: block;
        margin: 0 auto 3rem;
        font-size: 1.2rem;
        color: rgba(200, 200, 200, 0.85);
        
        a {
          text-decoration: underline;
          transition: color 200ms, opacity 200ms;
          opacity: 0.9;

          &:hover {
            color: $cta;
            opacity: 1;
          }
        }
      }

      .links-container {
        font-size: 1.4rem;
        font-weight: bold;

        p {
          &:hover {
            color: rgba(200, 200, 200, 0.85);
          }
  
          i {
            color: $cta;
          }

          &:first-child {
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 1.4rem;
            font-weight: bold;
            padding: 1rem;
            cursor: pointer;
            transition: color 200ms;
            width: fit-content;
          }

          &:last-child {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 1.4rem;
            font-weight: bold;
            padding: 1rem;
            cursor: pointer;
            transition: color 200ms;
            width: fit-content;
          }
        }
      }

    }
  }
}

// session.html --- --- ---

// session
.session {

  &-header {
    box-shadow: 0 0 10px 0 inset rgba(134, 133, 239, 0.45);
    background: $secondary;
    border-radius: 5px;

    &-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      place-items: center;
      padding: 3rem 2rem;
  
      &-item {
        background: $main;
        padding: 3rem;
        border-radius: 5px;
        text-align: center;
        width: 100%;
        position: relative;
  
        i {
          position: absolute;
          top: 0;
          right: 0; 
          margin: 1rem;
          font-size: 1.4rem;
          cursor: pointer;
          transition: color 200ms;
    
          &:hover {
            color: $cta;
          }
        }
  
        &-title {
          font-size: 1.4rem;
          margin-bottom: 1rem;
          color: #CECCD5;
          font-weight: bold;

          
        }
  
        &-value {
          font-size: 2rem;
          font-weight: 400;
          
        }
      }
    }

    &-controls {
      padding: 2rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .btn-div {

        &:last-child {
          margin-left: 1rem;
          
          .btn {
            // background: #0062cc;
            // border-color: #0062cc;
          }
        }
      }
    }
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 2rem;
    margin-top: 5rem;

    &-container {
      background: $secondary;
      padding: 2rem;
      border-radius: 5px;

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          margin-right: auto;
          position: relative;
          cursor: pointer;
          transition: filter 200ms;

          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }

          &:hover {
            filter: brightness(0.7);
          }

          &.rotate {
            
            i {
              transform: rotate(450deg);
            }
          }

          i {
            margin-right: 1rem;
            transition: transform 200ms;
            font-size: 1.4rem;
            
          }
        }

        .btn:last-child {
          margin-left: 1rem;
        }
      }

      .h-line {
        height: 1px;
        width: 100%;
        background: rgba(200, 200, 200, 0.15);
        margin: 3rem 0;
      }

      &-list {
        transition: max-height 200ms;
        overflow: hidden;
        max-height: 0;
        
        // &.expanded {
        //   max-height: 50rem;
        // }


        .bill {
          background: $main;
          border-radius: 5px;
          margin-bottom: 2rem;
          padding: 5rem 2rem 2rem;
          position: relative;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 2rem;

          &:last-child {
            margin-bottom: 0;
          }

          &-splitValue {
            background: $secondary;
            border-radius: 5px;
          }

          p {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.4;
            color: #CECCD5;
            padding: 1.4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
              color: $light;
            }
          }

          .icon-container {
            position: absolute;
            top: 0;
            right: 0;
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            // background: red;

          
            
            i {
              transition: filter 200ms;

              &:hover {
                filter: brightness(0.7);
              }

              &.fa-trash-can {
                cursor: pointer;
                font-size: 1.4rem;
                margin-left: 1rem;
                color: $danger;
              }
  
              &.fa-pen-to-square {
                cursor: pointer;
                font-size: 1.4rem;
                color: $edit;
              }
            }
          }
        }
      }
    }
  }
}

// Start Modal
.start-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 6rem);
  height: calc(100svh - 6rem);
  z-index: 10;
  background: $main;
  margin-top: 6rem;

  transition: transform 200ms;
  // display: none;
  // transform: scale(0);

  .container {
    display: grid;
    place-items: center;
  }

  &-form {
    background: $secondary;
    padding: 4rem 2rem;
    background: $secondary;
    border-radius: 5px;
    width: 35rem;
    max-width: 35rem;

    .form-group {

      p {
        display: block;
        font-size: 1.4rem;
        margin-bottom: 4px;
        font-weight: 500;
      }

      .options-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        gap: 3rem;
        margin-top: 1rem;

        &-item {
          width: 100%;
          border: 1px solid rgba(200, 200, 200, 0.35);
          border-radius: 3px;
          font-size: 1.4rem;
          padding: 1rem;
          cursor: pointer;
          transition: color 200ms, background 200ms, border-color 200ms, font-weight 200ms;
          
          &:hover {
            border-color: $cta;
          }
          
          &.selected {
            color: $cta;
            border-color: $cta;
            font-weight: bold;
          }
        }
      }

      .btn {
        width: 100%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Bill Modal
.bill-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);

  display: none;
  opacity: 0;
  transition: opacity 200ms;

  .container {
    display: grid;
    place-items: center;
  }

  &-form {
    background: $secondary;
    padding: 4rem 2rem;
    background: $secondary;
    border-radius: 5px;
    width: 35rem;
    max-width: 35rem;

    .form-group {

      .options-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        gap: 3rem;
        margin-top: 1rem;

        &-item {
          width: 100%;
          border: 1px solid rgba(200, 200, 200, 0.35);
          border-radius: 3px;
          font-size: 1.4rem;
          padding: 1rem;
          cursor: pointer;
          transition: color 200ms, background 200ms, border-color 200ms, font-weight 200ms;
          
          &:hover {
            border-color: $cta;
          }
          
          &.selected {
            color: $cta;
            border-color: $cta;
            font-weight: bold;
          }
        }
      }

      .btn {
        width: 100%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

}

// history.html --- --- ---
.history {

  &-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    place-items: center;
    background: $secondary;
    padding: 3rem 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 inset rgba(134, 133, 239, 0.45);
    margin-bottom: 5rem;

    &-item {
      background: $main;
      padding: 3rem;
      border-radius: 5px;
      text-align: center;
      width: 100%;
      position: relative;

      i {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
        font-size: 1.4rem;
        cursor: pointer;
        transition: color 200ms;
  
        &:hover {
          color: $cta;
        }
      }

      &-title {
        font-size: 1.4rem;
        margin-bottom: 1rem;
        color: #CECCD5;
        font-weight: bold;
      }

      &-value {
        font-size: 2rem;
        font-weight: 400;
      }
    }
  }

  .content-t {
    text-align: center;
  }

  &-content {
    background: $secondary;
    padding: 3rem 2rem;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    overflow: hidden;
    overflow: clip;

    &-session {
      background: $main;
      padding: 2rem;
      border-radius: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      &-item {
        padding: 0.5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 500;

        &:last-child {
          padding: 3rem 0 0;
          display: block;

          .btn {
            margin-bottom: 1rem;
          }
  
          .delete-session {
            font-size: 1.3rem;
            font-weight: 500;
            text-align: center;
            text-decoration: underline;
            width: fit-content;
            margin: 0 auto;
            cursor: pointer;
            transition: filter 200ms, color 200ms;

            &:hover {
              // filter: brightness(0.8);
              color: rgb(149, 28, 40);
            }
          }
        }

        p {

          &:first-child {
            color: #ceccd5;
          }
        }
        
      }
    }
  }
}

// Media Queries --- --- ---
@import './partials/media-queries'