@import './partials/variables.scss';
@import './partials/utils.scss';


// Desktop Navbar
.main-nav {
  height: 6rem;
  max-height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background: #232326;

  .container {
    position: relative;
  }

  &-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      color: $light;
      margin-bottom: 2px;
      margin-right: 5px;
      font-weight: bold;
    }
    
    .logo {
      position: relative;
      font-size: 3rem;
      font-weight: 400;
      margin-right: auto;

      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 11;
      }
    }

    .links-container {
      display: flex;
      align-items: center;

      .btn-div {

        &:last-child {
          margin-left: 1rem;
        }
      }
    }
  }
}

// Footer
.footer {
  margin: 0;
  padding: 0;
  height: 3rem;
  background: rgb(35, 35, 35);

  &-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 1.2rem;
      font-weight: 500;
      color: #CECCD5;
    }

    a {
      font-size: 1.2rem;
      font-weight: 500;
      color: #CECCD5;
      text-decoration: underline;
      transition: color 200ms;

      &:hover {
        color: $cta;
      }
    }
  }
}

// index.html --- --- ---

// Hero
.hero {
  height: calc(100vh - 9rem);
  max-height: calc(100vh - 9rem);
  height: calc(100svh - 9rem);
  max-height: calc(100svh - 9rem);
  overflow: hidden;

  .container {
    display: flex;
  }
  
  &-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .svg-div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      max-width: 50%;
    }

    &-content {
      grid-column: span 2;
      margin: auto 0;

      .content-t {
        font-size: 4.2rem;
      }
  
      .btn-container {
        display: flex;
        align-items: center;
      }
    }
  }
}

// signUp.html --- --- ---

// Sign Up
.sign-up {
  min-height: 100vh;

  &-container {
    padding: 4rem 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    
    &-form {
      padding: 4rem 2rem;
      background: $secondary;
      border-radius: 5px;
      width: 35rem;
      max-width: 35rem;
      position: relative;

      .progress {
        height: 6rem;
        max-height: 6rem;
        overflow: hidden;
  
        &-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          height: 100%;
          max-width: 24rem;
          margin: 0 auto;
         
        
          &-step {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            &.disabled {
              filter: brightness(0.6);
            }

            &.selected {

              .step {

                &-line {
                  background: $cta;
                }

                &-title {
                  color: $cta;
                }
              }
            }
  
            .step {
              
              &-line {
                background: $light;
                width: 90%;
                height: 3px;
                border-radius: 50px;
                margin-bottom: 4px;
              }

              &-title {
                margin-bottom: 0;
                font-weight: bold;
              }
            }
          }
        }
      }
  

      .content-t {
        font-size: 2.6rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 5px;
      }

      .h-line {
        height: 1px;
        width: calc(100% + 4rem);
        background: rgba(200, 200, 200, 0.15);
        margin: 1rem 0 3rem;
        transform: translateX(-2rem);
      }

      .content-p {
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 0rem;
      }

      .btn-div {
        margin-bottom: 2rem;

        .btn {
          width: 100%;
        }
      }

      div + p {
        display: block;
        margin: 0 auto 3rem;
        font-size: 1.2rem;
        color: rgba(200, 200, 200, 0.85);
        
        a {
          text-decoration: underline;
          text-underline-offset: 2px;
          transition: color 200ms;

          &:hover {
            color: $cta;
          }
        }
      }

      .links-container {
        font-size: 1.4rem;
        font-weight: bold;

        p {
          &:hover {
            color: rgba(200, 200, 200, 0.85);
          }
  
          &:first-child {
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 1.4rem;
            font-weight: bold;
            padding: 1rem;
            cursor: pointer;
            transition: color 200ms;
            width: fit-content;

            display: flex;
            align-items: center;

            .svg-icon {
              margin-right: 2px;
              margin-bottom: 1px;
              height: 1.4rem;
              fill: $cta;
            }
          }

          &:last-child {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 1.4rem;
            font-weight: bold;
            padding: 1rem;
            cursor: pointer;
            transition: color 200ms;
            width: fit-content;

            display: flex;
            align-items: center;

            .svg-icon {
              margin-right: 2px;
              margin-bottom: 2px;
              fill: $cta;
            }
          }
        }
      }

    }
  }
}

// signIn.html --- --- ---

// Sign In
.sign-in {
  height: 100vh;
  max-height: 100vh;
  height: 100svh;
  max-height: 100svh;

  &-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-form {
      padding: 4rem 2rem;
      background: $secondary;
      border-radius: 5px;
      width: 35rem;
      max-width: 35rem;
      position: relative;

      .content-t {
        font-size: 2.6rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0;
      }

      .h-line {
        height: 1px;
        width: calc(100% + 4rem);
        background: rgba(200, 200, 200, 0.15);
        margin: 4rem 0 3rem;
        transform: translateX(-2rem);
      }

      .btn-div {
        margin-bottom: 2rem;

        .btn {
          width: 100%;
        }
      }

      div + p {
        display: block;
        margin: 0 auto 3rem;
        font-size: 1.2rem;
        color: rgba(200, 200, 200, 0.85);
        
        a {
          text-decoration: underline;
          text-underline-offset: 2px;
          transition: color 200ms;

          &:hover {
            color: $cta;
          }
        }
      }

      .links-container {
        font-size: 1.4rem;
        font-weight: bold;

        p {
          &:hover {
            color: rgba(200, 200, 200, 0.85);
          }
  
          &:first-child {
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 1.4rem;
            font-weight: bold;
            padding: 1rem;
            cursor: pointer;
            transition: color 200ms;
            width: fit-content;

            display: flex;
            align-items: center;

            .svg-icon {
              margin-right: 2px;
              margin-bottom: 1px;
              height: 1.4rem;
              fill: $cta;
            }
          }

          &:last-child {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 1.4rem;
            font-weight: bold;
            padding: 1rem;
            cursor: pointer;
            transition: color 200ms;
            width: fit-content;

            display: flex;
            align-items: center;

            .svg-icon {
              margin-right: 2px;
              margin-bottom: 2px;
              fill: $cta;
            }
          }
        }
      }

    }
  }
}

// session.html --- --- ---

// session
.session {
  display: none; // Is shown once the session is started using InitSession.js
  opacity: 0;
  transition: opacity 200ms;

  &-header {
    box-shadow: 0 0 10px 0 inset rgba(134, 133, 239, 0.45);
    background: $secondary;
    border-radius: 5px;

    &-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      place-items: center;
      padding: 3rem 2rem 2rem;
  
      &-item {
        background: $main;
        padding: 4.2rem 3rem;
        border-radius: 5px;
        text-align: center;
        width: 100%;
        position: relative;
        height: 100%;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .currency {
          font-size: 1.4rem;
          font-weight: bold;
        }
  
        #updateSharedWith {
          position: absolute;
          top: 0;
          right: 0;
          transition: filter 200ms;
          cursor: pointer;
          background: $secondary;
          margin: 6px;
          padding: 1rem;
          border-radius: 3px;
          font-size: 1.4rem;

          display: flex;
          justify-content: center;
          align-items: center;


          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 3px;
            width: 14px;
          }

          &:hover {
            filter: brightness(0.7);
          }

          .svg-icon {
            fill: $cta;
          }
        }
  
        &-title {
          font-size: 1.4rem;
          margin-bottom: 1rem;
          color: #CECCD5;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
        }
  
        &-value {
          font-size: 2rem;
          font-weight: 400;
        }
      }
    }

    &-controls {
      padding: 2rem 2rem 3rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .btn-div {

        &:last-child {
          margin-left: 1rem;
        }
      }
    }

    &-message {
      padding: 1rem 2rem;
      display: block;

      &.hidden {
        display: none;
      }

      .content-p {
        background: $main;
        color: $danger;
        margin: 0;
        padding: 1rem;
        font-size: 1.6rem;
        border-radius: 3px;
        text-align: center;
      }
    }
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 2rem;
    margin-top: 5rem;

    overflow: hidden;

    &-container {
      background: $secondary;
      padding: 2rem;
      border-radius: 5px;
      overflow: hidden;

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          position: relative;
          cursor: pointer;
          transition: filter 200ms;
          white-space: nowrap;

          text-overflow: ellipsis;
          margin-right: 1rem;

          display: flex;
          align-items: center;
          overflow: hidden;

          span {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }


          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }

          &:hover {
            filter: brightness(0.7);
          }

          .svg-icon {
            margin-right: 1rem; 
            margin-left: 3px;
            transition: transform 200ms;
            height: 1.4rem;
            fill: $light;
            overflow: visible;
            
            &.rotate {
              transform: rotate(450deg);
            }
          }
        }

        .clearListBtn {
          margin-left: auto;
        }

        .btn:last-child {
          margin-left: 1rem;
        }
      }

      .h-line {
        height: 1px;
        width: 100%;
        background: rgba(200, 200, 200, 0.15);
        margin: 3rem 0 2rem;
      }

      .content-search {

        input {
          
          &.disabled {
            cursor: not-allowed;
          }
        }
      }

      &-list {
        transition: max-height 200ms;
        overflow: hidden;
        max-height: 0;
        
        .bill {
          background: $main;
          border-radius: 5px;
          margin-bottom: 2rem;
          padding: 6rem 2rem 2rem;
          position: relative;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 2rem;
          row-gap: 1rem;
          
          transition: transform 300ms, opacity 300ms, filter 200ms;

          &:last-child {
            margin-bottom: 0;
          }

          &-splitValue {
            background: $secondary;
            border-radius: 5px;
          }

          p {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.4;
            color: #CECCD5;
            padding: 1.4rem;
            display: flex;
            justify-content: space-between;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;


            span {
              color: $light;
              width: fit-content;
              max-width: 70%;
              text-overflow: ellipsis;
              overflow: hidden;
              text-align: end;
              margin-left: 1rem;
            }

            &.directlyOwedTag {
              background: $secondary;
              border-radius: 5px;
              grid-column: span 2;
              display: block;
              text-align: center;

              span {
                color: $main;
              }
            }
          }

          .icon-container {
            position: absolute;
            top: 0;
            right: 0;
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            .svg-div {
              transition: filter 200ms;
              position: relative;
              cursor: pointer;
              background: $secondary;
              padding: 1rem;
              border-radius: 3px;
              font-size: 1.4rem;

              display: flex;
              justify-content: center;
              align-items: center;


              &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 3px;
              }

              &:first-child {

                .svg-icon {
                  fill: $danger;
                }
              }

              &:last-child {
                margin-left: 1rem;
                padding: 1rem 2rem;
                
                .svg-icon {
                  fill: $edit;
                }
              }

              &:hover {
                filter: brightness(0.7);
              }

              .svg-icon {
                width: 14px;
              }

              
            }
          }
        }
      }
    }
  }
}

// Start Modal
.start-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  z-index: 10;
  background: $main;
  padding-top: 6rem;

  transition: transform 200ms;

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-form {
    background: $secondary;
    padding: 4rem 2rem;
    background: $secondary;
    border-radius: 5px;
    width: 35rem;
    max-width: 35rem;

    .form-group {

      &:nth-child(3) {
        margin-bottom: 1rem;
      }

      &:last-child {
        margin-bottom: 0;

        .btn {

          &.hidden {
            display: none;
          }
        }
      }
      

      p {
        display: block;
        font-size: 1.4rem;
        margin-bottom: 4px;
        font-weight: 500;
      }

      .options-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        gap: 3rem;
        margin-top: 1rem;

        &-item {
          width: 100%;
          border: 1px solid rgba(200, 200, 200, 0.35);
          border-radius: 3px;
          font-size: 1.4rem;
          padding: 1rem;
          cursor: pointer;
          transition: color 200ms, background 200ms, border-color 200ms, font-weight 200ms;
          
          &:hover {
            border-color: $cta;
          }
          
          &.selected {
            color: $cta;
            border-color: $cta;
            font-weight: bold;
          }
        }
      }

      .btn {
        width: 100%;
      }
      
    }
  }
}

// Bill Modal
.bill-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
  padding-top: 6rem;
  display: none;
  opacity: 0;
  transform: translate3d(0, -20px, 0);
  transition: opacity 200ms, transform 100ms;

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-form {
    background: $secondary;
    padding: 4rem 2rem;
    background: $secondary;
    border-radius: 5px;
    width: 35rem;
    max-width: 35rem;

    .form-group {

      &-title {

        .content-p {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      &-inner {
        display: grid;
        grid-template-columns: repeat(8, 1fr);

        input {
          grid-column: span 5;
        }

        .btn {
          grid-column: span 3;
          margin-left: 1rem;
        }

        .error-span {
          grid-column: span 8;
        }
      }

      p {
        font-size: 1.6rem;
        margin-bottom: 4rem;
      }

      div + p {
        font-size: 1.3rem;
        margin-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
      
      .btn-div {

        &:first-child {
          margin-bottom: 1rem;
        }

        .btn {
          width: 100%;
        }
      }
    }
  }

}

// history.html --- --- ---
.history {

  &-header {
    background: $secondary;
    box-shadow: 0 0 10px 0 inset rgba(134, 133, 239, 0.45);
    border-radius: 5px;
    margin-bottom: 8rem;
    
    &-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      place-items: center;
      padding: 3rem 2rem 2rem;
  
      &-item {
        background: $main;
        padding: 3rem;
        border-radius: 5px;
        text-align: center;
        width: 100%;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        i {
          position: absolute;
          top: 0;
          right: 0;
          margin: 1rem;
          font-size: 1.4rem;
          cursor: pointer;
          transition: color 200ms;
    
          &:hover {
            color: $cta;
          }
        }
  
        &-title {
          font-size: 1.4rem;
          margin-bottom: 1rem;
          color: #CECCD5;
          font-weight: bold;
        }
  
        &-value {
          font-size: 2rem;
          font-weight: 400;
          height: 100%;
        }
      }
    }

    &-controls {
      padding: 2rem 2rem 3rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .content-t {
    text-align: center;
  }

  &-content {
    background: $secondary;
    min-height: 10rem;
    padding: 3rem 2rem;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    overflow: hidden;
    overflow: clip;
    position: relative;

    &-session {
      background: $main;
      padding: 2rem;
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      

      &:last-child {
        margin-bottom: 0;
      }

      &-item {
        padding: 0.5rem 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        font-size: 1.4rem;
        font-weight: 500;
        overflow: hidden;

        display: flex;

        &:last-child {
          padding: 3rem 0 0;
          display: block;

          margin-top: auto;

          .btn {
            margin-bottom: 1rem;
          }
  
          .delete-session {
            font-size: 1.3rem;
            font-weight: 500;
            text-align: center;
            text-decoration: underline;
            width: fit-content;
            margin: 0 auto;
            cursor: pointer;
            transition: filter 200ms, color 200ms;

            &:hover {
              // filter: brightness(0.8);
              color: rgb(149, 28, 40);
            }
          }
        }

        p {

          &:first-child {
            color: #ceccd5;
            min-width: fit-content;
            margin-right: 2rem;
          }

          &:last-child {
            margin-left: auto;
            text-align: end;
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
          }
        }
        
      }
    }

    .no-sessions {
      background: $main;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: fit-content;
      max-height: fit-content;
      padding: 1rem;
      border-radius: 3px;
      font-size: 1.4rem;
      font-weight: bold;
      height: fit-content;
    }
  }
}


// verification.html
.verification {
  height: 100vh;
  max-height: 100vh;
  height: 100svh;
  max-height: 100svh;

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-container {
    margin: auto;
    padding: 4rem 2rem;
    background: $secondary;
    border-radius: 5px;
    width: 35rem;
    max-width: 35rem;
    position: relative;

    .progress {
      height: 6rem;
      max-height: 6rem;
      overflow: hidden;

      &-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        width: 24rem;
        max-width: 24rem;
        margin: 0 auto;
      
        &-step {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &.completed {

            .step {
              
              &-line {
                background: $success;
              }
            }
          }


          &.selected {

            .step {

              &-line {
                background: $cta;
              }

              &-title {
                color: $cta;
              }
            }
          }

          .step {
            
            &-line {
              background: $light;
              width: 90%;
              height: 3px;
              border-radius: 50px;
              margin-bottom: 4px;
            }

            &-title {
              margin-bottom: 0;
              font-weight: bold;
              font-size: 1.2rem;
              color: rgba(200, 200, 200, 0.85);
            }
          }
        }
      }
    }

    .content-t {
      font-size: 2.6rem;
      text-align: center;
      font-weight: bold;
    }

    .h-line {
      height: 1px;
      width: calc(100% + 4rem);
      background: rgba(200, 200, 200, 0.15);
      margin: 2rem 0 3rem;
      transform: translateX(-2rem);
    }

    .description {
      margin-bottom: 2rem;

      .content-p {
        margin: 0;
        font-size: 1.4rem;
        line-height: 1.2;
        font-weight: 400;

        &:first-child {
          margin-bottom: 1rem;
        }

        &:last-child {
          font-size: 1.2rem;
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }

    .form-group {

      input {
        text-transform: uppercase;
      }
    }

    .btn {
      margin-bottom: 2rem;
      width: 100%;
    }

    .resend {
      font-size: 1.2rem;
      color: rgba(200, 200, 200, 0.85);
      font-weight: bold;
      margin-bottom: 3rem;

      span {
        cursor: pointer;
        color: $cta;
        transition: color 200ms;

        &:hover {
          color: $light;
        }
      }
    }

    .links-container {
      font-size: 1.4rem;
      font-weight: bold;

      p {
        &:hover {
          color: rgba(200, 200, 200, 0.85);
        }

        &:first-child {
          position: absolute;
          bottom: 0;
          left: 0;
          font-size: 1.4rem;
          font-weight: bold;
          padding: 1rem;
          cursor: pointer;
          transition: color 200ms;
          width: fit-content;

          display: flex;
          align-items: center;

          .svg-icon {
            margin-right: 2px;
            margin-bottom: 1px;
            height: 1.4rem;
            fill: $cta;
          }
        }

        &:last-child {
          position: absolute;
          bottom: 0;
          right: 0;
          font-size: 1.4rem;
          font-weight: bold;
          padding: 1rem;
          cursor: pointer;
          transition: color 200ms;
          width: fit-content;

          display: flex;
          align-items: center;

          .svg-icon {
            margin-right: 2px;
            margin-bottom: 2px;
            fill: $cta;
          }
        }
      }
    }
  }
}

// recovery.html
.recovery {
  height: 100vh;
  max-height: 100vh;
  height: 100svh;
  max-height: 100svh;

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-container {
    margin: auto;
    padding: 4rem 2rem;
    background: $secondary;
    border-radius: 5px;
    width: 35rem;
    max-width: 35rem;
    position: relative;

    .content-t {
      font-size: 2.6rem;
      text-align: center;
      font-weight: bold;
    }

    .h-line {
      height: 1px;
      width: calc(100% + 4rem);
      background: rgba(200, 200, 200, 0.15);
      margin: 4rem 0 3rem;
      transform: translateX(-2rem);
    }
    
    .content-p {
      margin: 0;
      margin-bottom: 2rem;
      font-size: 1.4rem;
      line-height: 1.2;
      font-weight: 400;
    }

    .form-group {

      input.recoveryCode {
        text-transform: uppercase;
      }
    }

    .btn {
      margin-bottom: 2rem;
      width: 100%;
    }

    .links-container {
      margin-top: 3rem;
      font-size: 1.4rem;
      font-weight: bold;

      p {
        &:hover {
          color: rgba(200, 200, 200, 0.85);
        }

        &:first-child {
          position: absolute;
          bottom: 0;
          left: 0;
          font-size: 1.4rem;
          font-weight: bold;
          padding: 1rem;
          cursor: pointer;
          transition: color 200ms;
          width: fit-content;

          display: flex;
          align-items: center;

          .svg-icon {
            margin-right: 2px;
            margin-bottom: 1px;
            height: 1.4rem;
            fill: $cta;
          }
        }

        &:last-child {
          position: absolute;
          bottom: 0;
          right: 0;
          font-size: 1.4rem;
          font-weight: bold;
          padding: 1rem;
          cursor: pointer;
          transition: color 200ms;
          width: fit-content;

          display: flex;
          align-items: center;

          .svg-icon {
            margin-right: 2px;
            margin-bottom: 2px;
            fill: $cta;
          }
        }
      }
    }
  }
}

// updatePassword.html
.updatePassword {
  height: 100vh;
  max-height: 100vh;
  height: 100svh;
  max-height: 100svh;

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-container {
    margin: auto;
    padding: 4rem 2rem;
    background: $secondary;
    border-radius: 5px;
    width: 35rem;
    max-width: 35rem;
    position: relative;

    .content-t {
      font-size: 2.6rem;
      text-align: center;
      font-weight: bold;
    }

    .h-line {
      height: 1px;
      width: calc(100% + 4rem);
      background: rgba(200, 200, 200, 0.15);
      margin: 4rem 0 3rem;
      transform: translateX(-2rem);
    }
    
    .content-p {
      margin: 0;
      margin-bottom: 2rem;
      font-size: 1.4rem;
      line-height: 1.2;
      font-weight: 400;
    }


    .btn {
      margin-bottom: 2rem;
      width: 100%;
    }

    .links-container {
      margin-top: 3rem;
      font-size: 1.4rem;
      font-weight: bold;

      p {
        &:hover {
          color: rgba(200, 200, 200, 0.85);
        }

        &:first-child {
          position: absolute;
          bottom: 0;
          left: 0;
          font-size: 1.4rem;
          font-weight: bold;
          padding: 1rem;
          cursor: pointer;
          transition: color 200ms;
          width: fit-content;

          display: flex;
          align-items: center;

          .svg-icon {
            margin-right: 2px;
            margin-bottom: 1px;
            height: 1.4rem;
            fill: $cta;
          }
        }

        &:last-child {
          position: absolute;
          bottom: 0;
          right: 0;
          font-size: 1.4rem;
          font-weight: bold;
          padding: 1rem;
          cursor: pointer;
          transition: color 200ms;
          width: fit-content;

          display: flex;
          align-items: center;

          .svg-icon {
            margin-right: 2px;
            margin-bottom: 2px;
            fill: $cta;
          }
        }
      }
    }
  }
}

.terms {
  padding: 6rem 0 !important;

  &-container {
    max-width: 720px;
    margin: 0 auto;

    .content-t {
      margin-bottom: 1rem;
    }

    .terms-desc {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.4;
      margin-bottom: 3rem;
      color: #CECCD5;
    }

    &-group {
      &:not(&:last-child) {
        margin-bottom: 3rem;
      }

      &-t {
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: bold;
      }
  
      &-p {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.4;
        color: #CECCD5;

        &:not(&:last-child) {
          margin-bottom: 1rem;
        }
      }

      &-ul {
        list-style: decimal;
        padding-left: 3rem;

        &:not(&:last-child) {
          margin-bottom: 1rem;
        }
      }

      &-li {
        list-style-type: disc;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.4;
        color: #CECCD5;
        margin-bottom: 1rem;
      }
    }
  }
}

// Media Queries --- --- ---
@import './partials/media-queries'